<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nordicsemi.nrfUARTBescor"
    android:versionCode="46"
    android:versionName="2.2">
    <!-- BluetoothLe Required -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" /> <!-- Image Transfer take pic (optional) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- Bluetooth Permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/nrfuart_hdpi_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeviceListActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="com.xchg.wavegen.WaveGenActivity" />
        <service
            android:name=".UartService"
            android:enabled="true" />
    </application>

</manifest>